*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0c1e;
  /* font-family: "Cursed Timer Ulil", sans-serif; */
}
.all {
  background-color: #1b244a;
}
.container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  align-items: center;
  border-radius: 5px;
}
.teams {
  /* border: 2px dotted #fff; */
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.place {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
.scores_background {
  background-color: black;
  width: 80%;
  height: 40%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scores {
  color: #f94f6d;
  font-size: 80px;
  font-weight: bold;
  font-family: "Cursed Timer Ulil", sans-serif;
  margin-top: 10px;
}
.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.btn {
  background-color: #1b244a;
  border: 1px solid #9aabd8;
  padding: 5px 5px;
  font-family: "Cursed Timer Ulil", sans-serif;
  color: #9aabd8;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}
.title_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #11a8a3;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.reset_div {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#gameWin {
  color: #11a8a3;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}
